# log level default to be DEBUG
LOG_LEVEL=INFO

# router config
host_ip=localhost

MEGA_SERVICE_HOST_IP={host_ip}
MEGA_SERVICE_PORT=8888
RETRIEVER_SERVICE_HOST_IP={host_ip}
RETRIEVER_SERVICE_PORT=7000
LLM_SERVICE_HOST_IP={host_ip}
LLM_SERVICE_PORT=9000