# please copy this file to .env (regular UI) and .env.mini (Mini UI) with
# actual values updated, before docker build. The following settings will
# take effect during docker building stage.

VITE_DEFAULT_KB=""
VITE_ASK_PLACEHOLDER="Ask a question"
VITE_CHAT_TITLE=""
VITE_CLEAR_HISTORY_BUTTON_TEXT="Clear History"
VITE_FAQ_TEXT="FAQ"
VITE_FLAG_MINI="no"