# Inference config
LLM_MODEL="/weights/DeepSeek-R1-Distill-Qwen-32B"

# Huggingface token config
HUGGINGFACEHUB_API_TOKEN="you-huggingface-token" # mandatory
# HF ENDPOINT
HF_ENDPOINT=https://hf-mirror.com
