beautifulsoup4==4.13.3
docarray==0.40.0
docx2txt==0.8
fastapi==0.115.0
langchain==0.3.20
langchain-community==0.3.19
langchain-text-splitters==0.3.6
langchain-milvus==0.1.8
langchain-openai==0.3.8
Markdown==3.7
numpy==1.26.4
openai==1.65.4
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp==1.30.0
opentelemetry-sdk==1.30.0
pandas==2.2.3
pillow==10.4.0
prometheus-fastapi-instrumentator==7.0.2
pytesseract==0.3.13
python-docx==1.1.2
python-pptx==1.0.2
shortuuid==1.0.13
tiktoken==0.9.0
uvicorn==0.31.1
fs==2.4.16
Spire.Presentation==10.1.0
camelot-py==1.0.0
PyMuPDF==1.24.14
scikit-learn==1.5.2
celery[redis]==5.5.3
redis==5.2.1
aiomysql==0.2.0
openpyxl==3.1.5
oss2==2.19.1
alibabacloud_tea_openapi==0.4.2
alibabacloud_docmind_api20220711==1.4.13
python-multipart==0.0.20
xlrd==2.0.2
email-validator==2.3.0
passlib==1.7.4
python-jose==3.3.0
SQLAlchemy==2.0.41
pdfplumber==0.11.7
minio==7.2.16
pymilvus==2.6.9