# Inference config
LLM_MODEL="Qwen/Qwen2-72B-Instruct"

# Huggingface token config
HUGGINGFACEHUB_API_TOKEN="you-huggingface-token" # mandatory
# HF ENDPOINT
HF_ENDPOINT=https://hf-mirror.com

# Image tag
TAG=latest
