fastapi==0.115.0
requests>=2.31.0
openpyxl>=3.1.2
python-jose==3.3.0
passlib==1.7.4
SQLAlchemy==2.0.41
PyMySQL==1.1.0
numpy==1.26.4
aiohttp>=3.11.14
docarray[full]==0.40.0
prometheus-fastapi-instrumentator==7.1.0
pydantic[email]==2.7.1
shortuuid==1.0.13
uvicorn>=0.23.1
pillow==10.4.0
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-proto==1.30.0
cryptography==45.0.1