{
    "keywords": [
        "intel processor",
        "neural network",
        "machine learning",
        "deep learning",
        "artificial intelligence",
        "cpu",
        "gpu",
        "compute engine",
        "neural compute stick",
        "intel arc",
        "人工智能",
        "深度学习",
        "机器学习",
        "神经网络",
        "处理器",
        "计算引擎",
        "英特尔",
        "AIGC",
        "openvino",
        "RAG"
    ],
    "no_context_message": "对不起，您提的问题与AIGC大赛无关，请提问与大赛相关的问题!"
} 
