# log level default to be DEBUG
LOG_LEVEL=INFO

# Milvus config
MILVUS_HOST=localhost
MILVUS_PORT=19530

# "ovms" or "tei"
EMBEDDING_RERANKER_BACKEND=ovms

# OVMS embedding and reranking config
OVMS_EMBEDDING_ENDPOINT="http://localhost:3000/v3"
OVMS_EMBEDDING_MODEL="BAAI/bge-large-zh-v1.5"
embedding_ctx_length=510

# HF TEI embedding and reranking config
TEI_EMBEDDING_ENDPOINT="http://localhost:3000"
TEI_EMBEDDING_MODEL="BAAI/bge-base-zh-v1.5/"

# KBS info directory
KBS_INFO_DIR=/tmp/kbs-info