DATABASE=OPEA
COLLECTION=ChatHistory
HOST=localhost
PORT=27017

# to specify time in format: 2022-01-01 00:00:00", or empty string
STARTTIME="" # emtpy string means one week before
ENDTIME="" # empty string means now
TIMEZONE=Asia/Shanghai

OUTPUTDIR=output

TAG=latest
REGISTRY=localhost:5000